.container { padding: 25px 15px}
.container .container { padding-left: 0; padding-right: 0; }
#map-wrap { min-height: 400px; margin: 20px 0 0;}
#get-dirs {clear: both; padding: 0 15px;}




.get-dirs-directions { display: none; }
#compass { clear: both; height: 220px; width: 100%; text-align: center;}
#compass h3 { text-align: center; position: relative; }
#compass-due-north {
		width: 200px; height: 200px; top: 0;
		position: relative; z-index: 10;
		margin: 0 auto;
		/*transform: rotate(315deg);*/
}
#compass-container { 
	position: relative; top: -200px; z-index: 20;
	width: 150px; height: 150px; background: url(../img/arrow621.svg) no-repeat center center; margin: 0 auto; 
	/*transform: rotate(75deg);*/
}